@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 1320px;
  height: auto;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
.navbar > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 45px;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.navbar > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.navbar button {
  border: 1px solid #05073c;
  width: 83.31px;
  height: 44px;
  padding: 12px 20.8px 12px 21px;
  border-radius: 200px;
  background-color: #ffffff;
}

#hero {
  background-image: url("./SVG (1).svg");
  width: 1920px;
  height: 573px;
}

#hero {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  background-color: white;
}
#hero > #navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  width: 1270px;
  height: 80px;
  padding: 10px;
  border-radius: 12px;
  position: relative;
  top: 30px;
  left: 15px;
}
#hero .box1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#hero .mark {
  height: 50px;
  width: 50px;
  background-color: #fef8f4;
}
#hero button {
  width: 136.95px;
  height: 60px;
  padding: 20px 30.8px 20px 31px;
  border-radius: 12px;
  background-color: #eb662c;
  border: 1px solid #eb662c;
  color: white;
  font-size: 14.65px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-right: 10px;
}

#part2 {
  background-color: #eb662c;
  margin-top: 50px;
  width: 1290px;
  height: 500px;
  border-radius: 12px;
  margin-left: 30px;
}

#special {
  margin-top: 115px;
  margin-left: 35px;
  font-size: 29.77px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.spccards {
  display: flex;
  gap: 20px;
  width: 280px;
}
.spccards .p1 {
  color: #eb662c;
  font-size: 14px;
}
.spccards .p2 {
  font-size: 14px;
  font-size: 14.88px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
}

#spof1 {
  display: flex;
  gap: 48px;
  margin-left: 35px;
  margin-bottom: 105px;
}

body > main:nth-of-type(3) {
  max-width: 1920px;
  height: auto;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
}
body > main:nth-of-type(3) .banner {
  background-image: url("./image.png");
  max-width: 1920px;
  height: 721.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}
body > main:nth-of-type(3) .banner h2 {
  margin-bottom: 24px;
  font-size: 69.45px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  color: #ffffff;
}
body > main:nth-of-type(3) .banner p {
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #ffffff;
  width: 395px;
}
body > main:nth-of-type(3) .tours {
  max-width: 1320px;
  margin: 120px auto 115px auto;
}
body > main:nth-of-type(3) .tours h2 {
  font-size: 29.3px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .tours .reason {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body > main:nth-of-type(3) .tours .reason div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding-bottom: 65px;
}
body > main:nth-of-type(3) .tours .reason div img {
  display: block;
  margin: 100px auto 0px auto;
}
body > main:nth-of-type(3) .tours .reason div h3 {
  font-size: 17.72px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  margin: 30px auto 14px auto;
}
body > main:nth-of-type(3) .tours .reason div p {
  font-size: 14.88px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .tours .reason div:nth-of-type(2) p {
  width: 256.95px;
}
body > main:nth-of-type(3) .articles {
  max-width: 1320px;
  margin: 0px auto 255px auto;
  padding: 5px 15px;
  position: relative;
  font-family: "Inter";
}
body > main:nth-of-type(3) .articles h2 {
  margin: 0 0 45px 0;
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #05073c;
}
body > main:nth-of-type(3) .articles .see {
  margin: 0;
  position: absolute;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  right: 40.8px;
  top: 21.88px;
  color: #05073c;
}
body > main:nth-of-type(3) .articles div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body > main:nth-of-type(3) .articles div div {
  display: flex;
  flex-direction: column;
  width: 410px;
  gap: 0px;
  height: -moz-max-content;
  height: max-content;
}
body > main:nth-of-type(3) .articles div div div {
  width: 409.98px;
  height: 299.98px;
  border-radius: 12px;
  margin-bottom: 33px;
}
body > main:nth-of-type(3) .articles div div p {
  font-size: 13.89px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .articles div div span {
  margin: 0px 0px 0px 20.8px;
  color: #05073c;
}
body > main:nth-of-type(3) .articles div div p:nth-of-type(2) {
  display: block;
  margin-top: 15.1px;
  font-size: 17.3px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  width: 366.92px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(1) div {
  background-image: url("./image1.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(1) p:nth-of-type(2) {
  width: 366.92px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(2) div {
  background-image: url("./image2.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(2) p:nth-of-type(2) {
  width: 378px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(3) div {
  background-image: url("./image3.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(3) p:nth-of-type(2) {
  width: 387px;
}

body > main:nth-of-type(3) {
  max-width: 1920px;
  height: auto;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
}
body > main:nth-of-type(3) .banner {
  background-image: url("./image.png");
  max-width: 1920px;
  height: 721.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}
body > main:nth-of-type(3) .banner h2 {
  margin-bottom: 24px;
  font-size: 69.45px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  color: #ffffff;
}
body > main:nth-of-type(3) .banner p {
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #ffffff;
  width: 395px;
}
body > main:nth-of-type(3) .tours {
  max-width: 1320px;
  margin: 120px auto 115px auto;
}
body > main:nth-of-type(3) .tours h2 {
  font-size: 29.3px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .tours .reason {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body > main:nth-of-type(3) .tours .reason div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding-bottom: 65px;
}
body > main:nth-of-type(3) .tours .reason div img {
  display: block;
  margin: 100px auto 0px auto;
}
body > main:nth-of-type(3) .tours .reason div h3 {
  font-size: 17.72px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  margin: 30px auto 14px auto;
}
body > main:nth-of-type(3) .tours .reason div p {
  font-size: 14.88px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .tours .reason div:nth-of-type(2) p {
  width: 256.95px;
}
body > main:nth-of-type(3) .articles {
  max-width: 1320px;
  margin: 0px auto 255px auto;
  padding: 5px 15px;
  position: relative;
  font-family: "Inter";
}
body > main:nth-of-type(3) .articles h2 {
  margin: 0 0 45px 0;
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #05073c;
}
body > main:nth-of-type(3) .articles .see {
  margin: 0;
  position: absolute;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  right: 40.8px;
  top: 21.88px;
  color: #05073c;
}
body > main:nth-of-type(3) .articles div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body > main:nth-of-type(3) .articles div div {
  display: flex;
  flex-direction: column;
  width: 410px;
  gap: 0px;
  height: -moz-max-content;
  height: max-content;
}
body > main:nth-of-type(3) .articles div div div {
  width: 409.98px;
  height: 299.98px;
  border-radius: 12px;
  margin-bottom: 33px;
}
body > main:nth-of-type(3) .articles div div p {
  font-size: 13.89px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .articles div div span {
  margin: 0px 0px 0px 20.8px;
  color: #05073c;
}
body > main:nth-of-type(3) .articles div div p:nth-of-type(2) {
  display: block;
  margin-top: 15.1px;
  font-size: 17.3px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  width: 366.92px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(1) div {
  background-image: url("./image1.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(1) p:nth-of-type(2) {
  width: 366.92px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(2) div {
  background-image: url("./image2.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(2) p:nth-of-type(2) {
  width: 378px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(3) div {
  background-image: url("./image3.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(3) p:nth-of-type(2) {
  width: 387px;
}

.footer {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  height: 115px;
  top: 6868.3px;
  left: 300px;
  padding: 0px 15px 0px 15px;
  gap: 0px;
  opacity: 0px;
}
.footer .foottext {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  justify-content: center;
  font-family: Inter;
}
.footer .swipper {
  margin: 15px;
  display: flex;
  width: 1290px;
  height: 30px;
  top: 85px;
  left: 15px;
  gap: 100px;
  padding: 0px 45px 0px 45px;
  opacity: 0px;
  justify-content: center;
}
.footer .swipper > img {
  width: 100px;
  height: 30px;
  padding: 4.75px 0px 4.75px 0px;
  gap: 0px;
  opacity: 0px;
}

footer {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  height: 400.25px;
  top: 200.3px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
  background: rgb(5, 7, 60);
  color: #fef8f4;
  background-image: url("./bg.svg");
}
footer .cols {
  display: flex;
  flex-direction: column;
}
footer .container {
  width: 1320px;
  height: 655.13px;
  left: 300px;
  top: 10px;
  padding: 0px;
  display: flex;
}
footer .container .footer-info {
  width: 100%;
  max-width: 1320px;
  padding: 94.31;
  height: 185.13px;
  left: 15px;
  gap: 0px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  background-image: url("./bg.svg");
}
footer .container .footer-info span {
  color: #fef8f4;
  font-family: Inter;
  font-size: 19.69px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  justify-content: space-between;
  gap: 100px;
}

.container {
  width: 1320px;
  border: 2px solid transparent;
  margin: auto;
}
.container .content {
  width: auto;
  margin-left: 15px;
  margin-top: 5px;
  gap: 893.43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40.8px;
}
.container .content h2 {
  font-family: Inter;
  text-align: left;
}
.container .content p {
  padding-top: 16.88px;
  font-family: Inter;
}
.container .cards {
  display: flex;
  gap: 30px;
  padding: 15px 15px;
  margin-top: 45px;
  font-family: Inter;
}

.orange-box {
  width: 1320px;
  margin: auto;
  margin-top: 105px;
  height: 162px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: #EB662B;
}
.orange-box .text {
  display: flex;
  justify-content: space-between;
}
.orange-box .text h2 {
  margin-top: 66px;
  margin-left: 50px;
  color: white;
  font-family: Inter;
}
.orange-box .text button {
  margin-right: 50px;
  margin-top: 50px;
  padding: 23px 60.8px 25px 36px;
  border-radius: 12px;
  color: #eb662b;
  font-family: Inter;
  border: none;
  font-weight: bolder;
}

.container2 {
  width: 1320px;
  border: 2px solid transparent;
  margin: auto;
  margin-top: 115px;
}
.container2 .content2 {
  width: auto;
  margin-left: 15px;
  margin-top: 5px;
  gap: 893.43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40.8px;
}
.container2 .content2 h2 {
  font-family: Inter;
  text-align: left;
}
.container2 .content2 p {
  padding-top: 16.88px;
  font-family: Inter;
}

.container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
}
.container3 .content3 {
  display: flex;
  gap: 30px;
  padding: 15px;
}
.container3 .content3 .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
}
.container3 .content3 .texts span {
  font-weight: bolder;
}

.container4 {
  border: 2px solid transparent;
  width: 1920px;
  height: 850.84px;
  margin: auto;
  margin-top: 105px;
  background-image: url(/in-watches-gshock-Debug-Dhyaan-2345/figmapro/src/section.png);
}
.container4 .content4 {
  width: 1320px;
  height: 610.84px;
  border: 2px solid transparent;
  margin-top: 120px;
  margin-left: 300px;
  padding: 0px 345px 0px 345px;
  font-family: Inter;
  text-align: center;
}
.container4 .all1 {
  margin-top: 70px;
  position: relative;
}
.container4 .all1 img:nth-of-type(1) {
  width: 46px;
  height: 46px;
  position: absolute;
  top: -15px;
  left: 255px;
}
.container4 .para {
  margin-top: 60px;
  color: #eb662b;
}
.container4 .para1 {
  margin-top: 25px;
  font-family: Inter;
  font-size: 20.53px;
  font-weight: 500;
  line-height: 38.5px;
}
.container4 .para2 {
  margin-top: 28.5px;
}
.container4 .para3 {
  margin-top: 2.6px;
}/*# sourceMappingURL=input.css.map */