@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 1320px;
  height: auto;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px 30px 10px;
  gap: 30px;
}
.navbar > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 45px;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.navbar > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.navbar > div:nth-of-type(3) {
  color: #eb662b;
  display: none;
}
.navbar button {
  border: 1px solid #05073c;
  width: 83.31px;
  height: 44px;
  padding: 12px 20.8px 12px 21px;
  border-radius: 200px;
  background-color: #ffffff;
}

@media (max-width: 1240px) {
  .navbar div:nth-of-type(1) {
    gap: 15px;
  }
  .navbar div:nth-of-type(2) {
    gap: 10px;
  }
}
@media (max-width: 1240px) and (max-width: 850px) {
  .navbar div:nth-of-type(2) {
    display: none;
  }
  .navbar div:nth-of-type(3) {
    display: block;
  }
}
@media (max-width: 1240px) and (max-width: 650px) {
  .navbar div:nth-of-type(1) > span {
    display: none;
  }
}
@media (max-width: 1240px) {
  .spccards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#hero {
  background-image: url("./img/SVG (1).svg");
  max-width: 1920px;
  height: 573px;
}

#hero {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  background-color: white;
}
#hero > #navlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  max-width: 1290px;
  min-height: 80px;
  padding: 10px;
  border-radius: 12px;
  position: relative;
  top: 30px;
  left: 15px;
}
#hero .box1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#hero .mark {
  height: 50px;
  width: 50px;
  background-color: #fef8f4;
}
#hero button {
  width: 136.95px;
  height: 60px;
  padding: 20px 30.8px 20px 31px;
  border-radius: 12px;
  background-color: #eb662c;
  border: 1px solid #eb662c;
  color: white;
  font-size: 14.65px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-right: 10px;
}

#part2 {
  margin-top: 50px;
  max-width: 1290px;
  height: 500px;
  border-radius: 12px;
  margin-left: 15px;
  display: flex;
  color: #ffffff;
}
#part2 div:first-child {
  width: 660px;
  height: 500px;
  border-radius: 12px 0 0 12px;
  background-color: #eb662c;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  align-items: flex-start;
  justify-content: center;
}
#part2 div:first-child h1:nth-of-type(1) {
  height: 52px;
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
#part2 div:first-child h1:nth-of-type(1) span {
  background-image: url("./img/brush.svg fill.png");
  color: #eb662b;
  width: 231px;
  background-size: cover;
}
#part2 div:first-child h1:nth-of-type(2) {
  width: 307.22px;
  height: 100px;
  font-family: "Inter";
  font-size: 39.84px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
#part2 div:first-child p:nth-of-type(1) {
  font-family: "Inter";
  font-size: 14.77px;
  font-weight: 400;
  width: -moz-max-content;
  width: max-content;
  line-height: 28.13px;
  text-align: left;
  margin-top: 8px;
}
#part2 div:first-child p:last-child {
  margin-top: 30px;
  width: 166.86px;
  height: 62px;
  padding: 21px 35.8px 21px 36px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 14.41px;
  font-weight: 500;
  text-align: center;
  color: #eb662b;
}
#part2 div:last-child {
  width: 630px;
  height: 500px;
  border-radius: 0 12px 12px 0;
  background-image: url("./img/image (1).png");
}

@media (max-width: 1120px) {
  #part2 div:first-child {
    padding-left: 100px;
  }
}
@media (max-width: 980px) {
  #part2 div:first-child {
    padding-left: 70px;
  }
}
@media (max-width: 880px) {
  #part2 div:first-child {
    padding-left: 30px;
  }
}
@media (max-width: 780px) {
  #part2 div:first-child {
    width: 100%;
    border-radius: 12px;
    align-items: center;
  }
  #part2 div:first-child h1:nth-of-type(2) {
    text-align: center;
  }
  #part2 div:last-child {
    display: none;
  }
}
#special {
  margin-top: 115px;
  margin-left: 35px;
  font-size: 29.77px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.spccards {
  display: flex;
  gap: 20px;
  width: 280px;
  margin-top: 45px;
}
.spccards .p1 {
  color: #eb662c;
  font-size: 14px;
  padding-top: 15px;
}
.spccards .p2 {
  font-size: 14.88px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
}

#spof1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  margin-left: 35px;
  margin-bottom: 105px;
}

body > main:nth-of-type(3) {
  max-width: 1920px;
  height: auto;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
}
body > main:nth-of-type(3) .banner {
  background-image: url("./img/banner.png");
  max-width: 1920px;
  height: 721.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}
body > main:nth-of-type(3) .banner h2 {
  margin-bottom: 24px;
  font-size: 69.45px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  color: #ffffff;
}
body > main:nth-of-type(3) .banner p {
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #ffffff;
  width: 395px;
}
body > main:nth-of-type(3) .tours {
  max-width: 1320px;
  margin: 120px auto 115px auto;
  display: block;
}
body > main:nth-of-type(3) .tours h2 {
  font-size: 29.3px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .tours .reason {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body > main:nth-of-type(3) .tours .reason div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding-bottom: 65px;
}
body > main:nth-of-type(3) .tours .reason div img {
  display: block;
  margin: 100px auto 0px auto;
}
body > main:nth-of-type(3) .tours .reason div h3 {
  font-size: 17.72px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  margin: 30px auto 14px auto;
}
body > main:nth-of-type(3) .tours .reason div p {
  font-size: 14.88px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .tours .reason div:nth-of-type(2) p {
  width: 256.95px;
}
body > main:nth-of-type(3) .articles {
  max-width: 1320px;
  margin: 0px auto 255px auto;
  padding: 5px 15px;
  position: relative;
  font-family: "Inter";
}
body > main:nth-of-type(3) .articles h2 {
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #05073c;
}
body > main:nth-of-type(3) .articles .see {
  margin: 0;
  position: absolute;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  right: 40.8px;
  top: 21.88px;
  color: #05073c;
}
body > main:nth-of-type(3) .articles div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body > main:nth-of-type(3) .articles div div {
  display: flex;
  flex-direction: column;
  width: 410px;
  gap: 0px;
  margin-top: 22.5px;
  height: -moz-max-content;
  height: max-content;
}
body > main:nth-of-type(3) .articles div div div {
  width: 409.98px;
  height: 299.98px;
  border-radius: 12px;
  margin-bottom: 33px;
}
body > main:nth-of-type(3) .articles div div p {
  font-size: 13.89px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .articles div div span {
  margin: 0px 0px 0px 20.8px;
  color: #05073c;
}
body > main:nth-of-type(3) .articles div div p:nth-of-type(2) {
  display: block;
  margin-top: 15.1px;
  font-size: 17.3px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  width: 366.92px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(1) div {
  background-image: url("./img/image1.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(1) p:nth-of-type(2) {
  width: 366.92px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(2) div {
  background-image: url("./img/image2.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(2) p:nth-of-type(2) {
  width: 378px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(3) div {
  background-image: url("./img/image3.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(3) p:nth-of-type(2) {
  width: 387px;
}

section {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  min-height: 115px;
  padding: 0px 15px 0px 15px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 60px;
}
section .foottext {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  font-family: "Inter";
}
section .swipper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1290px;
  min-height: 30px;
  -moz-column-gap: 120px;
       column-gap: 120px;
  padding: 0px 45px 0px 45px;
  opacity: 0px;
  justify-content: center;
}
section .swipper > img {
  width: 100px;
  height: 30px;
  margin-top: 40px;
  gap: 0px;
  opacity: 0px;
}

.alfaj-container {
  width: auto;
  margin-top: 105px;
}
.alfaj-container .item-1container {
  margin: auto;
  max-width: 1320px;
  min-height: 521.59px;
}
.alfaj-container .item-1container .flex-box {
  height: auto;
  display: flex;
  justify-content: space-between;
}
.alfaj-container .item-1container .flex-box h2 {
  width: 212.4px;
  height: 45px;
  margin-top: 20px;
  margin-left: 15px;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #05073c;
}
.alfaj-container .item-1container .flex-box div {
  width: 220px;
  height: 60px;
  margin-top: 5px;
  border-radius: 12px;
  border: 1px solid #e7e6e6;
}
.alfaj-container .item-1container .flex-box div p {
  height: 28.13px;
  padding: 15.94px 0px 15.93px 21px;
  color: #05073c;
  font-family: "Inter";
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #05073c;
}
.alfaj-container .item-1container .flex-box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1290px;
  min-height: 416.59px;
  margin-top: 40px;
  margin-left: 15px;
  background: #ffffff;
}
.alfaj-container .item-1container .flex-box2 div {
  border-radius: 12px;
  width: 300px;
  height: 392.59px;
  color: #ffffff;
  border: 1px solid #e7e6e6;
}
.alfaj-container .item-1container .flex-box2 div img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.alfaj-container .item-1container .flex-box2 div p {
  padding: 0;
  width: 86.68px;
  height: 24.38px;
  margin-top: 10px;
  margin-left: 42px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #717171;
}
.alfaj-container .item-1container .flex-box2 div h3 {
  width: 249.4px;
  height: 45px;
  margin-top: 6px;
  margin-left: 21px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #05073c;
}
.alfaj-container .item-1container .flex-box2 div h6 {
  margin: 0;
  width: 54.59px;
  height: 17px;
  margin-top: 10px;
  margin-left: 101px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.alfaj-container .item-1container .flex-box2 div div {
  display: flex;
  width: 258px;
  height: 41px;
  margin-top: 14.37px;
  margin-left: 21px;
  border-top: 1px solid #e7e6e6;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.alfaj-container .item-1container .flex-box2 div div p {
  margin: 0;
  width: 60.77px;
  height: 24.38px;
  margin-top: 13.82px;
  padding: 3px, 0px, 4.2px, 0px;
  margin-bottom: 2.8px;
  text-align: right;
}
.alfaj-container .item-1container .flex-box2 div div div {
  width: 90.44px;
  height: 30px;
  margin-top: 11px;
  margin-left: 106px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
}
.alfaj-container .item-1container .flex-box2 div div div span {
  width: 34.48px;
  height: 17px;
  margin-top: 3px;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #05073c;
}
.alfaj-container .item-1container .flex-box2 div div div b {
  padding: 0;
  width: 56.36px;
  height: 21px;
  color: #05073c;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.alfaj-container .bg-cover {
  margin: auto;
  position: relative;
  max-width: 1320px;
  height: 750px;
  border-radius: 12px;
  background-image: url("./img/big card.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 115px;
}
.alfaj-container .bg-cover .col {
  position: absolute;
  width: 439.98px;
  height: 350.38px;
  top: 199.82px;
  left: 110px;
}
.alfaj-container .bg-cover .col h2 {
  margin: 0;
  width: 344.08px;
  height: 104px;
  margin-top: 15px;
  margin-left: 15px;
  font-family: "Inter";
  font-size: 39px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #05073c;
}
.alfaj-container .bg-cover .col p {
  width: 408.36px;
  height: 76.25px;
  margin-top: 14px;
  margin-left: 15px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #05073c;
}
.alfaj-container .bg-cover .col div {
  box-sizing: border-box;
  width: 221.88px;
  height: 62px;
  margin-top: 64.12px;
  margin-left: 15px;
  padding: 17px, 35.8px, 17px, 36px;
  padding-top: 17px;
  border-radius: 12px;
  background: #eb662b;
  color: white;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.alfaj-container .bg-cover .item-3 {
  max-width: 280px;
  max-height: 240px;
  border-radius: 12px;
  background: #ffffff;
}
.alfaj-container .bg-cover .item-3 img {
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-left: 110px;
  margin-right: 110px;
}
.alfaj-container .bg-cover .item-3 p {
  margin: 0;
  max-width: 132.56px;
  height: 56px;
  margin-left: 73.82px;
  margin-top: 20px;
  font-family: "Inter";
  font-size: 39px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: #eb662b;
}
.alfaj-container .bg-cover .item-3 h6 {
  margin-top: 0;
  max-width: 123.84px;
  height: 28.13px;
  margin-left: 78.18px;
  color: #05073c;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.align1 {
  position: absolute;
  top: 120px;
  left: 604.98px;
}

.align2 {
  position: absolute;
  top: 390px;
  left: 604.98px;
}

.align3 {
  position: absolute;
  top: 255px;
  left: 914.98px;
}

footer {
  max-width: 1960px;
  margin: auto;
  background-image: url("./img/bg.svg");
  background-repeat: no-repeat;
  height: auto;
  background-color: #05073c;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 120px;
  padding-left: 320px;
  padding-right: 320px;
  font-family: "Inter";
}
footer #fit1 {
  max-width: 1320px;
  font-family: "Inter";
  padding: 94.31px 185px 64.82px 95px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer #fit1 p:first-child {
  text-align: start;
}
footer #fit1 p:last-child {
  text-align: end;
}
footer #snd {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 0 15px;
  margin: 40px 0;
  height: 390px;
}
footer #snd #box1 {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  font-size: 14.41px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  padding: 20px 15px;
  gap: 29px;
}
footer #snd #box1 p:first-child {
  line-height: 28.13px;
}
footer #snd #box1 div {
  display: flex;
  flex-direction: column;
  max-width: 356.62px;
  gap: 18.12px;
}
footer #snd #box1 div p:last-child {
  font-size: 14.88px;
}
footer #snd #box2 {
  display: flex;
  flex-direction: column;
  max-width: 128.23px;
  gap: 29px;
  padding: 20px 15px;
}
footer #snd #box2 p:first-child {
  line-height: 28.13px;
}
footer #snd #box2 div {
  display: flex;
  flex-direction: column;
  max-width: 356.62px;
  gap: 18.12px;
}
footer #snd #box2 div p {
  font-size: 14.65px;
}
footer #snd #box3 {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  gap: 29px;
  padding: 20px 15px;
}
footer #snd #box3 p:first-child {
  line-height: 28.13px;
}
footer #snd #box3 div {
  display: flex;
  flex-direction: column;
  max-width: 356.62px;
  gap: 18.12px;
}
footer #snd #box3 div p {
  font-size: 14.77px;
}
footer #snd #box4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 29px;
  max-width: 330px;
  padding: 20px 15px;
}
footer #snd #box4 div:first-of-type {
  display: flex;
  flex-direction: column;
  max-width: 356.62px;
  gap: 14.12px;
}
footer #snd #box4 div:first-of-type p {
  max-width: 287.56px;
  font-size: 14.65px;
  height: 48.13px;
  line-height: 28.13px;
}
footer #snd #box4 div:first-of-type div {
  max-width: 300px;
  font-size: 14.53px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  flex-direction: row;
  gap: 0;
  border: 1px solid #e7e6e6;
  border-radius: 12px;
}
footer #snd #box4 div:first-of-type div input {
  padding: 20px 0px 20px 21px;
  max-width: 152.43px;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  outline: none;
}
footer #snd #box4 div:first-of-type div button {
  padding: 20px 21px 20px 0px;
  max-width: 147.57px;
  background-color: #ffffff;
  font-size: 14.53px;
  text-align: right;
  font-weight: 400;
  color: #05073c;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
footer #snd #box4 div:last-child ul {
  padding-left: 41px;
  list-style-type: none;
}
footer #snd #box4 div:last-child ul li {
  margin-top: 10px;
}

.copyq {
  background-color: #05073c;
  color: #ffffff;
  max-width: 1960px;
  margin: auto;
  display: flex;
  font-size: 14.53px;
  align-items: center;
  font-family: "Inter";
  justify-content: space-between;
  padding: 24px 330px 24px 335px;
}
.copyq div:first-child {
  width: 186.81px;
  height: 20px;
  line-height: 28.13px;
}

@media (max-width: 1900px) {
  footer {
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }
  .copyq {
    padding-left: 95px;
    padding-right: 95px;
  }
}
@media (max-width: 904px) {
  footer #snd {
    gap: 20px;
  }
}
@media (max-width: 680px) {
  footer #fit1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer #snd {
    flex-direction: column;
    gap: 0px;
    margin: auto;
  }
  footer #snd #box1 div {
    display: none;
  }
  footer #snd #box2 div {
    display: none;
  }
  footer #snd #box3 div {
    display: none;
  }
  footer #snd #box4 div:nth-of-type(1) {
    display: none;
  }
  footer #snd #box4 div:nth-of-type(2) {
    display: none;
  }
  .copyq {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.container {
  max-width: 1320px;
  border: 2px solid transparent;
  margin: auto;
}
.container .content {
  margin-left: 15px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}
.container .content h2 {
  font-family: "Inter";
  text-align: left;
}
.container .content p {
  padding-top: 16.88px;
  font-family: "Inter";
}
.container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 45px;
  font-family: "Inter";
}

.orange-box {
  max-width: 1320px;
  margin: auto;
  margin-top: 105px;
  height: 162px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: #eb662b;
}
.orange-box .text {
  display: flex;
  justify-content: space-between;
}
.orange-box .text h2 {
  margin-top: 66px;
  margin-left: 50px;
  color: white;
  font-family: "Inter";
}
.orange-box .text button {
  margin-right: 50px;
  margin-top: 50px;
  padding: 23px 60.8px 25px 36px;
  border-radius: 12px;
  color: #eb662b;
  font-family: "Inter";
  border: none;
  font-weight: bolder;
}

.container2 {
  max-width: 1320px;
  border: 2px solid transparent;
  margin: auto;
  margin-top: 115px;
}
.container2 .content2 {
  margin-left: 15px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40.8px;
}
.container2 .content2 h2 {
  font-family: "Inter";
  text-align: left;
}
.container2 .content2 p {
  padding-top: 16.88px;
  font-family: "Inter";
}

.container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
}
.container3 .content3 {
  display: flex;
  gap: 30px;
  padding: 15px;
}
.container3 .content3 .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter";
}
.container3 .content3 .texts span {
  font-weight: bolder;
}

@media (max-width: 760px) {
  .container3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6" "a7 a8" "a9  .";
  }
}
@media (max-width: 514px) {
  .container3 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
  }
  .container3 div {
    display: inline-block;
  }
}
.container4 {
  border: 2px solid transparent;
  max-width: 1920px;
  height: 850.84px;
  margin: auto;
  margin-top: 105px;
  background-image: url(/in-watches-gshock-Debug-Dhyaan-2345/figmapro/src/section.png);
}
.container4 .content4 {
  max-width: 1320px;
  height: 610.84px;
  border: 2px solid transparent;
  margin: 120px auto 0 auto;
  font-family: "Inter";
  text-align: center;
}
.container4 .content4 div:nth-of-type(1) {
  max-width: 630px;
  margin: auto;
}

.all1 {
  margin-top: 70px;
  position: relative;
}
.all1 img:nth-of-type(1) {
  width: 46px;
  height: 46px;
  position: absolute;
  top: -15px;
  left: 255px;
}

.para {
  margin-top: 60px;
  color: #eb662b;
}

.para1 {
  margin-top: 25px;
  font-family: "Inter";
  font-size: 20.53px;
  font-weight: 500;
  line-height: 38.5px;
}

.para2 {
  margin-top: 28.5px;
}

.para3 {
  margin-top: 2.6px;
}/*# sourceMappingURL=input.css.map */