@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
header {
  width: 100%;
  max-width: 1320px;
  height: auto;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
.navbar > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 45px;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.navbar > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.navbar button {
  border: 1px solid #05073c;
  width: 83.31px;
  height: 44px;
  padding: 12px 20.8px 12px 21px;
  border-radius: 200px;
  background-color: #ffffff;
}

#hero {
  background-image: url("./SVG (1).svg");
  width: 1920px;
  height: 573px;
}

#hero {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  background-color: white;
}
#hero > #navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  width: 1270px;
  height: 80px;
  padding: 10px;
  border-radius: 12px;
  position: relative;
  top: 30px;
  left: 15px;
}
#hero .box1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#hero .mark {
  height: 50px;
  width: 50px;
  background-color: #fef8f4;
}
#hero button {
  width: 136.95px;
  height: 60px;
  padding: 20px 30.8px 20px 31px;
  border-radius: 12px;
  background-color: #eb662c;
  border: 1px solid #eb662c;
  color: white;
  font-size: 14.65px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-right: 10px;
}

#part2 {
  background-color: #eb662c;
  margin-top: 50px;
  width: 1290px;
  height: 500px;
  border-radius: 12px;
  margin-left: 30px;
}

#special {
  margin-top: 115px;
  margin-left: 35px;
  font-size: 29.77px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.spccards {
  display: flex;
  gap: 20px;
  width: 280px;
}
.spccards .p1 {
  color: #eb662c;
  font-size: 14px;
}
.spccards .p2 {
  font-size: 14px;
  font-size: 14.88px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
}

#spof1 {
  display: flex;
  gap: 48px;
  margin-left: 35px;
  margin-bottom: 105px;
}

body > main:nth-of-type(3) {
  max-width: 1920px;
  height: auto;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
}
body > main:nth-of-type(3) .banner {
  background-image: url("./image.png");
  max-width: 1920px;
  height: 721.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}
body > main:nth-of-type(3) .banner h2 {
  margin-bottom: 24px;
  font-size: 69.45px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  color: #ffffff;
}
body > main:nth-of-type(3) .banner p {
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #ffffff;
  width: 395px;
}
body > main:nth-of-type(3) .tours {
  max-width: 1320px;
  margin: 120px auto 115px auto;
}
body > main:nth-of-type(3) .tours h2 {
  font-size: 29.3px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .tours .reason {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body > main:nth-of-type(3) .tours .reason div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding-bottom: 65px;
}
body > main:nth-of-type(3) .tours .reason div img {
  display: block;
  margin: 100px auto 0px auto;
}
body > main:nth-of-type(3) .tours .reason div h3 {
  font-size: 17.72px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  margin: 30px auto 14px auto;
}
body > main:nth-of-type(3) .tours .reason div p {
  font-size: 14.88px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .tours .reason div:nth-of-type(2) p {
  width: 256.95px;
}
body > main:nth-of-type(3) .articles {
  max-width: 1320px;
  margin: 0px auto 255px auto;
  padding: 5px 15px;
  position: relative;
  font-family: "Inter";
}
body > main:nth-of-type(3) .articles h2 {
  margin: 0 0 45px 0;
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #05073c;
}
body > main:nth-of-type(3) .articles .see {
  margin: 0;
  position: absolute;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  right: 40.8px;
  top: 21.88px;
  color: #05073c;
}
body > main:nth-of-type(3) .articles div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body > main:nth-of-type(3) .articles div div {
  display: flex;
  flex-direction: column;
  width: 410px;
  gap: 0px;
  height: -moz-max-content;
  height: max-content;
}
body > main:nth-of-type(3) .articles div div div {
  width: 409.98px;
  height: 299.98px;
  border-radius: 12px;
  margin-bottom: 33px;
}
body > main:nth-of-type(3) .articles div div p {
  font-size: 13.89px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #05073c;
  margin: 0;
}
body > main:nth-of-type(3) .articles div div span {
  margin: 0px 0px 0px 20.8px;
  color: #05073c;
}
body > main:nth-of-type(3) .articles div div p:nth-of-type(2) {
  display: block;
  margin-top: 15.1px;
  font-size: 17.3px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  width: 366.92px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(1) div {
  background-image: url("./image1.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(1) p:nth-of-type(2) {
  width: 366.92px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(2) div {
  background-image: url("./image2.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(2) p:nth-of-type(2) {
  width: 378px;
}
body > main:nth-of-type(3) .articles div div:nth-of-type(3) div {
  background-image: url("./image3.png");
}
body > main:nth-of-type(3) .articles div div:nth-of-type(3) p:nth-of-type(2) {
  width: 387px;
}/*# sourceMappingURL=input.css.map */