@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 1320px;
  height: auto;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 30px 0px;

  > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 45px;
    font-size: 14.77px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
  }

  > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 14.53px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
  }

  button {
    border: 1px solid #05073c;
    width: 83.31px;
    height: 44px;
    padding: 12px 20.8px 12px 21px;
    border-radius: 200px;
    background-color: #ffffff;
  }
}

#hero {
  background-image: url("./SVG\ \(1\).svg");
  width: 1920px;
  height: 573px;
}

#hero {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  background-color: white;

  > #navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    width: 1270px;
    height: 80px;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    top: 30px;
    left: 15px;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .mark {
    height: 50px;
    width: 50px;
    background-color: #fef8f4;
  }

  button {
    width: 136.95px;
    height: 60px;
    padding: 20px 30.8px 20px 31px;
    border-radius: 12px;
    background-color: #eb662c;
    border: 1px solid #eb662c;
    color: white;

    font-size: 14.65px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-right: 10px;
  }
}

#part2 {
  background-color: #eb662c;
  margin-top: 50px;
  width: 1290px;
  height: 500px;
  border-radius: 12px;
  margin-left: 30px;
}

#special {
  margin-top: 115px;
  margin-left: 35px;
  font-size: 29.77px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.spccards {
  display: flex;
  gap: 20px;
  width: 280px;

  .p1 {
    color: #eb662c;
    font-size: 14px;
  }

  .p2 {
    font-size: 14px;

    font-size: 14.88px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: left;
  }
}

#spof1 {
  display: flex;
  gap: 48px;
  margin-left: 35px;
  margin-bottom: 105px;
}

body > main:nth-of-type(3) {
  max-width: 1920px;
  height: auto;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;

  .banner {
    background-image: url("./image.png");
    max-width: 1920px;
    height: 721.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;

    h2 {
      margin-bottom: 24px;
      font-size: 69.45px;
      font-weight: 700;
      line-height: 105px;
      text-align: center;
      color: #ffffff;
    }

    p {
      font-size: 14.53px;
      font-weight: 400;
      line-height: 28.13px;
      text-align: center;
      color: #ffffff;
      width: 395px;
    }
  }

  .tours {
    max-width: 1320px;
    margin: 120px auto 115px auto;

    h2 {
      font-size: 29.3px;
      font-weight: 700;
      line-height: 45px;
      text-align: center;
      color: #05073c;
      margin: 0;
    }

    .reason {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 260px;
        padding-bottom: 65px;

        img {
          display: block;
          margin: 100px auto 0px auto;
        }

        h3 {
          font-size: 17.72px;
          font-weight: 500;
          line-height: 27px;
          text-align: center;
          margin: 30px auto 14px auto;
        }

        p {
          font-size: 14.88px;
          font-weight: 400;
          line-height: 28.13px;
          text-align: center;
          color: #05073c;
          margin: 0;
        }
      }

      div:nth-of-type(2) {
        p {
          width: 256.95px;
        }
      }
    }
  }

  .articles {
    max-width: 1320px;
    margin: 0px auto 255px auto;
    padding: 5px 15px;
    position: relative;
    font-family: "Inter";

    h2 {
      margin: 0 0 45px 0;
      font-size: 29.65px;
      font-weight: 700;
      line-height: 45px;
      text-align: left;
      color: #05073c;
    }

    .see {
      margin: 0;
      position: absolute;
      font-size: 14.3px;
      font-weight: 400;
      line-height: 28.13px;
      right: 40.8px;
      top: 21.88px;
      color: #05073c;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        width: 410px;
        gap: 0px;
        height: max-content;

        div {
          width: 409.98px;
          height: 299.98px;
          border-radius: 12px;
          margin-bottom: 33px;
        }

        p {
          font-size: 13.89px;
          font-weight: 400;
          line-height: 18.2px;
          text-align: left;
          color: #05073c;
          margin: 0;
        }

        span {
          margin: 0px 0px 0px 20.8px;
          color: #05073c;
        }

        p:nth-of-type(2) {
          display: block;
          margin-top: 15.1px;
          font-size: 17.3px;
          font-weight: 500;
          line-height: 27px;
          text-align: left;
          width: 366.92px;
        }
      }

      div:nth-of-type(1) {
        div {
          background-image: url("./image1.png");
        }

        p:nth-of-type(2) {
          width: 366.92px;
        }
      }

      div:nth-of-type(2) {
        div {
          background-image: url("./image2.png");
        }

        p:nth-of-type(2) {
          width: 378px;
        }
      }

      div:nth-of-type(3) {
        div {
          background-image: url("./image3.png");
        }

        p:nth-of-type(2) {
          width: 387px;
        }
      }
    }
  }
}

body > main:nth-of-type(3) {
  max-width: 1920px;
  height: auto;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;

  .banner {
    background-image: url("./image.png");
    max-width: 1920px;
    height: 721.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;

    h2 {
      margin-bottom: 24px;
      font-size: 69.45px;
      font-weight: 700;
      line-height: 105px;
      text-align: center;
      color: #ffffff;
    }

    p {
      font-size: 14.53px;
      font-weight: 400;
      line-height: 28.13px;
      text-align: center;
      color: #ffffff;
      width: 395px;
    }
  }

  .tours {
    max-width: 1320px;
    margin: 120px auto 115px auto;

    h2 {
      font-size: 29.3px;
      font-weight: 700;
      line-height: 45px;
      text-align: center;
      color: #05073c;
      margin: 0;
    }

    .reason {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 260px;
        padding-bottom: 65px;

        img {
          display: block;
          margin: 100px auto 0px auto;
        }

        h3 {
          font-size: 17.72px;
          font-weight: 500;
          line-height: 27px;
          text-align: center;
          margin: 30px auto 14px auto;
        }

        p {
          font-size: 14.88px;
          font-weight: 400;
          line-height: 28.13px;
          text-align: center;
          color: #05073c;
          margin: 0;
        }
      }

      div:nth-of-type(2) {
        p {
          width: 256.95px;
        }
      }
    }
  }

  .articles {
    max-width: 1320px;
    margin: 0px auto 255px auto;
    padding: 5px 15px;
    position: relative;
    font-family: "Inter";

    h2 {
      margin: 0 0 45px 0;
      font-size: 29.65px;
      font-weight: 700;
      line-height: 45px;
      text-align: left;
      color: #05073c;
    }

    .see {
      margin: 0;
      position: absolute;
      font-size: 14.3px;
      font-weight: 400;
      line-height: 28.13px;
      right: 40.8px;
      top: 21.88px;
      color: #05073c;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        width: 410px;
        gap: 0px;
        height: max-content;

        div {
          width: 409.98px;
          height: 299.98px;
          border-radius: 12px;
          margin-bottom: 33px;
        }

        p {
          font-size: 13.89px;
          font-weight: 400;
          line-height: 18.2px;
          text-align: left;
          color: #05073c;
          margin: 0;
        }

        span {
          margin: 0px 0px 0px 20.8px;
          color: #05073c;
        }

        p:nth-of-type(2) {
          display: block;
          margin-top: 15.1px;
          font-size: 17.3px;
          font-weight: 500;
          line-height: 27px;
          text-align: left;
          width: 366.92px;
        }
      }

      div:nth-of-type(1) {
        div {
          background-image: url("./image1.png");
        }

        p:nth-of-type(2) {
          width: 366.92px;
        }
      }

      div:nth-of-type(2) {
        div {
          background-image: url("./image2.png");
        }

        p:nth-of-type(2) {
          width: 378px;
        }
      }

      div:nth-of-type(3) {
        div {
          background-image: url("./image3.png");
        }

        p:nth-of-type(2) {
          width: 387px;
        }
      }
    }
  }
}

section {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  height: 115px;
  top: 6868.3px;
  left: 300px;
  padding: 0px 15px 0px 15px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 60px;

  .foottext {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    justify-content: center;
    font-family: "Inter";
  }

  .swipper {
    margin: 15px;
    display: flex;
    width: 1290px;
    height: 30px;
    top: 85px;
    left: 15px;
    gap: 100px;
    padding: 0px 45px 0px 45px;
    opacity: 0px;
    justify-content: center;

    > img {
      width: 70px;
      height: 30px;
      padding: 4.75px 0px 4.75px 0px;
      gap: 0px;
      opacity: 0px;
    }
  }
}
// second part starts here
footer {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  background-image: url("./bg.svg");
  height: auto;
  background-color: #05073c;
  display: flex;
  flex-direction: column;
  gap: 100px;
  color: white;
  #fit1 {
    position: relative;
    width: 1320px;

    top: 100px;
    left: 200px;
    font-family: "Inter";
    display: flex;
    gap: 350px;
    margin-bottom: 100px;
  }
  #snd {
    display: flex;
    flex-direction: row;
    gap: 70px;
    #box1 {
      display: flex;
      flex-direction: column;
      width: 339px;
      font-family: "Inter";
      font-size: 12px;
      font-weight: 400;
      line-height: 28.13px;
      text-align: left;
      margin-left: 120px;
      gap: 15px;
    }
    #box2 {
      display: flex;
      flex-direction: column;
      width: 130px;
      gap: 15px;
      font-size: 14px;
      margin-bottom: 40px;
    }
    #box3 {
      display: flex;
      flex-direction: column;
      width: 130px;
      gap: 15px;
      font-size: 14px;
    }
    #box4 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 130px;
      gap: 15px;
      font-size: 14px;
      width: 330px;
      input,
      button {
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
}
.copyq {
  background-color: #05073c;
  color: #ffffff;
  width: 100%;
  max-width: 1320px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
  padding: 10px;
  p {
    margin-left: 100px;
    margin: 40px;
  }
}

// *Shreya Part*
.container {
  width: 1320px;
  border: 2px solid transparent;
  margin: auto;

  .content {
    width: auto;
    margin-left: 15px;
    margin-top: 5px;
    gap: 893.43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40.8px;

    h2 {
      font-family: Inter;
      text-align: left;
    }

    p {
      padding-top: 16.88px;
      font-family: Inter;
    }
  }

  .cards {
    display: flex;
    gap: 30px;
    padding: 15px 15px;
    margin-top: 45px;
    font-family: Inter;
  }
}

.orange-box {
  width: 1320px;
  margin: auto;
  margin-top: 105px;
  height: 162px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: #eb662b;

  .text {
    display: flex;
    justify-content: space-between;

    h2 {
      margin-top: 66px;
      margin-left: 50px;
      color: white;
      font-family: Inter;
    }

    button {
      margin-right: 50px;
      margin-top: 50px;
      padding: 23px 60.8px 25px 36px;
      border-radius: 12px;
      color: #eb662b;
      font-family: Inter;
      border: none;
      font-weight: bolder;
    }
  }
}

.container2 {
  width: 1320px;
  border: 2px solid transparent;
  margin: auto;
  margin-top: 115px;

  .content2 {
    width: auto;
    margin-left: 15px;
    margin-top: 5px;
    gap: 893.43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40.8px;

    h2 {
      font-family: Inter;
      text-align: left;
    }

    p {
      padding-top: 16.88px;
      font-family: Inter;
    }
  }
}

.container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "a1 a2 a3"
    "a4 a5 a6"
    "a7 a8 a9";

  .content3 {
    display: flex;
    gap: 30px;
    padding: 15px;

    .texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Inter;

      span {
        font-weight: bolder;
      }
    }
  }
}

.container4 {
  border: 2px solid transparent;
  width: 1920px;
  height: 850.84px;
  margin: auto;
  margin-top: 105px;
  background-image: url(/in-watches-gshock-Debug-Dhyaan-2345/figmapro/src/section.png);

  .content4 {
    width: 1320px;
    height: 610.84px;
    border: 2px solid transparent;
    margin-top: 120px;
    margin-left: 300px;
    padding: 0px 345px 0px 345px;
    font-family: Inter;
    text-align: center;
  }

  .all1 {
    margin-top: 70px;
    position: relative;

    img:nth-of-type(1) {
      width: 46px;
      height: 46px;
      position: absolute;
      top: -15px;
      left: 255px;
    }
  }

  .para {
    margin-top: 60px;
    color: #eb662b;
  }

  .para1 {
    margin-top: 25px;
    font-family: Inter;
    font-size: 20.53px;
    font-weight: 500;
    line-height: 38.5px;
  }

  .para2 {
    margin-top: 28.5px;
  }

  .para3 {
    margin-top: 2.6px;
  }
}
